.about_us_contributors {
    width: 45%;
    height: 500px;
    margin-left: 25px;
}

.about_us_contributors img {
    display: block;
    width: 120px;
    height: 100px;
}

.about_us_contributors p {
    font-family: 'Playfair Display';
    color: black;
    font-size: 25px;
    margin-block: .4em;
}

.about_us {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #524385;
    opacity: .90;
}

.about_us_left {
    display: inline-block;
    width: 55%;
    height: 500px;
}

.about_us_title {
    width: 400px;
    height: 100px;
    font-family: 'Playfair Display';
    color: white;
    font-size: 36px;
    /*text-shadow: 0 0 5px black;*/
    /*background-color: blue;*/
    margin-left: 25px;
    text-align: center;
}

.about_us_logo {
    display: flex;
    width: 100%;
    height: 100px;
    margin-left: 50px;


}
