<link rel="stylesheet" href="/about_us.css" />

<section class="about" id="about_us">
  <h1>About Us</h1>
  <div class="about-info">
    <div>
      <p>Gun violence has raised many concerns about the safety of schools. 
		Mass shooting by definition means an event where four or more people are shot with a gun and killed. 
		We looked at 15 different mass school shooting cases and analyzed specific data to record on our website. 
		By studying and understanding the data collected from past shootings, this will ultimately help law enforcement better prepare for future school shootings.</p>
    </div>
  </div>
</section>

<section class="team">
  <h1>Contributers</h1>
  <div class="team-cards">
    <!-- Cards here -->
    <!-- Card 1 -->
    <div class="card">
      <div class="card-img">
		<img src="Human_Face_Placeholder.jpg">
      </div>
      <div class="card-info">
        <h2 class="card-name">Diya Kafle</h2>
        <p class="card-email">kafled@pnw.edu</p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <div class="card-img">
        <img src="Human_Face_Placeholder.jpg">
      </div>
      <div class="card-info">
        <h2 class="card-name">Jih</h2>
        <p class="card-email">jluoliu@pnw.edu</p>

      </div>
    </div>
    <!-- Card 3 -->
    <div class="card">
      <div class="card-img">
        <img src="Human_Face_Placeholder.jpg">
      </div>
      <div class="card-info">
        <h2 class="card-name">Justin Meng</h2>
        <p class="card-email">meng172@pnw.edu</p>
      </div>
    </div>

	    <!-- Card 4 -->
		<div class="card">
			<div class="card-img">
			  <img src="Human_Face_Placeholder.jpg">
			</div>
			<div class="card-info">
			  <h2 class="card-name">David Holleman</h2>
			  <p class="card-email">dhollema@pnw.edu</p>
			</div>
		  </div>
<!-- Card 5 -->
<div class="card">
  <div class="card-img">
    <img src="Human_Face_Placeholder.jpg">
  </div>
  <div class="card-info">
    <h2 class="card-name">Professor Wei Dai</h2>
    
  </div>
  </div>


  </div>
</section>

<footer>
  <img src="3.png">
  <p>© lorem ipsum.</p>
</footer>