<link rel="stylesheet" href="/about_us.css" />

<footer>
  <div class="about_us">
    
    <div class="about_us_contributors">
      <h1>Contributors</h1>
      <img src=".\Human_Face_Placeholder.jpg">
      <p>12343155624@gmail.com</p>
      <img src=".\Human_Face_Placeholder.jpg">
      <p>email</p>
      <img src=".\Human_Face_Placeholder.jpg">
      <p>email</p>
    </div>

    <div class="about_us_middle">
      <h1>Our Mission</h1>
      <p>We’ve trained a model called ChatGPT which interacts in a conversational way. The dialogue format makes it possible for ChatGPT to answer followup questions, admit its mistakes, challenge incorrect premises, and reject inappropriate requests.</p>
    </div>

    <div class="about_us_right">
      <h1>Contact Us</h1> 

      <p>2200 169th Street<br>
        Hammond, IN 46323<br>
        (219) 989-2400<br>
        (855) 608-4600</p>

    </div>
</div>

  <div class="copyright">
    <img src=".\3.png">
    <p>Copyright &copy; Lorem Ipsum</p>
  </div>

</footer>