
<meta property="og:title" content="Public Safety Information">
<meta property="og:description" content="Explore our site addressing school gun violence. Analyzing 15 mass shooting cases, we provide crucial insights to aid law enforcement in better preparing for and preventing future incidents, fostering a safer school environment.">
<meta property="og:image" content="\3.png">
<meta property="og:url" content="https://publicsafetyinfo.onrender.com/">
<meta property="og:type" content="website">

<meta name="author" content="Wei Dai, Diya, Jih Bin, Justin and David">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Public Safety Information</title>
<link rel="icon" href="\3.png">