<link rel="stylesheet" href="/top_bar_function.css"/>
<div class="navbar">
    <a href="#" onclick="refreshPage()">
        <img id="topimage" href = "index.html" src="/logo.png" >
    </a>

    <script src="./func.js"></script>

    <a id="topinfo" href="#usa_map">Map</a>
    <a id="topinfo" href="#about_us">About us</a>
    <!-- <a href="#contact">Contact</a> -->
    <div class="center">
        <p>Public Safety Information</p>
    </div>
    <div class="right">
        <p>Search Bar Placeholder</p>
    </div>  
</div>
