<link rel="stylesheet" href="./css/search_bar.css" type="text/css" />
  <script src="./func.js"></script> Include your external script file 
    <div class="search_bar_info">
        <h1 class="search_top">Can't find your state? Look it up!</h1>
    </div>
    <div class="search_bar">
        <form id="search_bar_form">
            <input type="text" id="searchInput" name="search" placeholder="Search..">
            <button type="submit">
                Search
            </button>
        </form>
    </div>
   
